@font-face {
    font-family: 'rubikblack';
    src: url('./font/rubik-black-webfont.woff2') format('woff2'),
         url('./font/rubik-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'rubikregular';
    src: url('./font/rubik-regular-webfont.woff2') format('woff2'),
         url('./font/rubik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    /* github color palette */
    --header-bg-color: rgba(1,4,9,255);
    --main-bg-color: rgba(13,17,23,255);
    --font-color: rgb(240, 246, 252);
    --border-color: rgba(61,68,77,255);
    --main-secondary-color: rgba(21,27,35,255);
    --border-setup: 1px solid rgba(61,68,77,255);
    --border-radius: 6px;
    --green-button: rgba(35,134,54,255);
    --rubik-black-setup: 'rubikblack', Arial, Helvetica, sans-serif;
    --rubik-regular-setup: 'rubikregular', Arial, Helvetica, sans-serif
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: var(--rubik-regular-setup);
    color: var(--font-color);
}

body {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    grid-template-areas: 
        "header"
        "main";
}

header {
    grid-area: header;
    background-color: var(--header-bg-color);
    padding: 1rem;

    section {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
          
        h1 {
            font-family: var(--rubik-black-setup);
            font-size: 3rem;
            align-self: end;
        }
    
        p {
            font-size: 1rem;
            align-self: start;
        }
    }

   
}

main {
    grid-area: main;
    background-color: var(--main-bg-color);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    #add-book-modal {
        position: absolute;
        top: 20%;
        left: 37%;

        height: 500px;
        width: 500px;
        padding: 2rem;

        border: var(--border-setup);
        border-radius: 6px;
        background-color: var(--main-bg-color);
        color: var(--font-color);
        font-family: var(--rubik-regular-setup);

        form {
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            h5 {
                text-align: center;
                font-size: 2rem;
                font-family: var(--rubik-black-setup);
                margin-bottom: 1rem;
            }

            div {
                margin-bottom: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;

                input {
                    width: 80%;
                    padding: .5rem;
                    font-size: 1rem;
                    border: none;
                    border-radius: 6px;
                }
            }

            button {
                font-family: var(--rubik-black-setup);
                color: var(--font-color);
                font-size: 1.5rem;

                background-color: var(--green-button);
                border: none;
                border-radius: 6px;
                align-self: center;
                width: 60%;
                height: 15%;
            }
        }
    }

    #add-book-modal::backdrop {
        background-color: rgb(0, 0, 0, 50%);  /* semi-transparent black */
        backdrop-filter: blur(1px);
    }

    #book-section {
        width: 60%;
        height: 85%;
        padding: 1rem;
        background-color: var(--main-bg-color);
        overflow: auto;
        display: flex;
        flex-direction: column;
        scrollbar-color: gray transparent;
        
        div {
            /* all divs inside this section should have this background-color  */
            background-color: var(--main-bg-color);
        }

        .book-list-container {
            background-color: var(--main-bg-color-color);
            border-radius: 6px;
            border: var(--border-setup);
            height: 18%;
            width: 100%;

            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 2fr 1fr;

            .book-container {
                width: 100%;
                height: 100%;
                background-color: var(--main-bg-color);
                padding: 1rem 2rem;
                border-radius: 6px;

                display: grid;
                align-items: center;
                align-content: center;

                h3 {
                    font-size: 2rem;
                    font-family: var(--rubik-black-setup);
                }

                p {
                    font-size: 1rem;
                    font-family: var(--rubik-regular-setup);
                }
            }

            .read-toggle-container {
                height: 100%;
                width: 90%;
                padding: 1rem 2rem;

                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                place-content: center;

                #toggle {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    input[type="checkbox"] {
                        display: none;  
                    }

                    label{
                        display: block;
                        position: relative;
                        cursor: pointer;
                        top: 0px;
                        left: 0px;
                        height: 70%;
                        width: 40%;
                        border-radius: 30px;
                        border: var(--border-setup);
                        transition: all .5s;
                    }

                    label:before {
                        content: '';
                        position: absolute;
                        top: 5px;
                        left: 6px;
                        height: 80%;
                        width: 40%;
                        border-radius: 50%;
                        background-color: white;
                        transition: all .5s;
                    }

                    input[type="checkbox"]:checked + .js-manipulation {
                        background-color: var(--green-button);
                    } 

                    input[type="checkbox"]:checked + .js-manipulation::before {
                        transform: translateX(50px);
                    }
                }


            }
        }
    }

    #button-section {
        width: 60% ;
        height: 15%;
        /* border: 1px solid orange; */

        display: flex;
        justify-content: center;
        align-items: center;
    
        #button-container {
            display: grid;
            place-items: center;
            border: none;
            height: 90%;
            width: 90%;

            button {
                width: 40%;
                height: 90%;
                font-size: 2rem;
                background-color: var(--green-button);
                border: var(--border-setup);
                color: var(--font-color);
                border-radius: var(--border-radius);
                font-family: var(--rubik-black-setup);
                cursor: pointer;
                transition: transform .5s;
            }

            #add-book:hover {
                transform: scale(1.05);
            }
        }

    }
}

