@font-face {
    font-family: 'rubikblack';
    src: url('./font/rubik-black-webfont.woff2') format('woff2'),
         url('./font/rubik-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'rubikregular';
    src: url('./font/rubik-regular-webfont.woff2') format('woff2'),
         url('./font/rubik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    /* github color palette */
    --header-bg-color: rgba(1,4,9,255);
    --main-bg-color: rgba(13,17,23,255);
    --font-color: rgb(240, 246, 252);
    --border-color: rgba(61,68,77,255);
    --main-secondary-color: rgba(21,27,35,255);
    --border-setup: 1px solid rgba(61,68,77,255);
    --border-radius: 6px;
    --green-button: rgba(35,134,54,255);
    --rubik-black-setup: 'rubikblack', Arial, Helvetica, sans-serif;
    --rubik-regular-setup: 'rubikregular', Arial, Helvetica, sans-serif
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: var(--rubik-regular-setup);
    color: var(--font-color);
}

body {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: 
        "header"
        "main";
}

header {
    grid-area: header;
    background-color: var(--header-bg-color);
    padding: 1rem;

    section {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
          

        h1 {
            font-family: var(--rubik-black-setup);
            font-size: 3rem;
            align-self: end;
        }
    
        p {
            font-size: 1rem;
            align-self: start;
        }
    }

   
}

main {
    grid-area: main;
    background-color: var(--main-bg-color);
    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;

    section {
        width: 60%;
        height: 95%;
        padding: 1rem;
        background-color: var(--main-bg-color);
        display: grid;
        gap: 1rem;
        grid-template-rows: 5fr 1fr;

        div {
            /* all divs inside this section should have this background-color  */
            background-color: var(--main-bg-color);
        }

        .book-list-container {
            background-color: var(--main-bg-color-color);
            border-radius: 6px;
            border: var(--border-setup);
            height: 20%;

            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 2fr 1fr;

            .book-container {
                width: 100%;
                height: 100%;
                background-color: var(--main-bg-color);
                padding: 1rem 2rem;
                border-radius: 6px;

                display: grid;
                align-items: center;
                align-content: center;

                h3 {
                    font-size: 2rem;
                    font-family: var(--rubik-black-setup);
                }

                p {
                    font-size: 1rem;
                    font-family: var(--rubik-regular-setup);
                }
            }

            .read-toggle-container {
                height: 100%;
                width: 100%;
                padding: 1rem 2rem;

                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                place-content: center;

                #toggle {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    #read-toggle {
                        display: none;  
                    }

                    #toggle-label {
                        display: block;
                        position: relative;
                        cursor: pointer;
                        top: 0px;
                        left: 0px;
                        height: 70%;
                        width: 40%;
                        border-radius: 30px;
                        border: var(--border-setup);
                        transition: all .5s;
                    }

                    #toggle-label:before {
                        content: '';
                        position: absolute;
                        top: 6px;
                        left: 5px;
                        height: 80%;
                        width: 40%;
                        border-radius: 50%;
                        background-color: white;
                        transition: all .5s;
                    }

                    #read-toggle:checked + #toggle-label {
                        background-color: var(--green-button);
                    } 

                    #read-toggle:checked + #toggle-label::before {
                        transform: translateX(60px);
                    }
                }


            }
        }

        #button-container {
            display: grid;
            place-items: center;
            border: none;

            button {
                width: 50%;
                height: 100%;
                font-size: 2rem;
                background-color: var(--green-button);
                border: var(--border-setup);
                color: var(--font-color);
                border-radius: var(--border-radius);
                font-family: var(--rubik-black-setup);
            }
        }

    }
}

